<html>
  <head>
    <script
      type="text/javascript"
      src="/javascript/vis-network/vis-network.min.js"
    ></script>
    <script type="text/javascript" src="/javascript/ui-functions.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  </head>
  <body>
    <script>
      $( function() {
        $( "#tab-window" ).tabs();
      } );
    </script>
    <div id="header">
      <div id="menu-element">
        <a href="/">Linkopédia</a>
        <a href="/contexts/">Contextes</a>
        <a href="/entities/">Entités</a>
        <a href="/relations/">Relations</a>
        <a href="/wikipedia/">Wikipedia</a>
      </div>
      <div id="header-search-result" >
      </div>
      <script type="text/javascript">
          addSearchEntityField("header-search-result","entityDestinationId",true);
      </script>
    </div>
    <div class="main-column">
