body {
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1em;
  color: #333;
}
li {
  padding: 5px;
  list-style-type: none;
}
h1 {
  margin: 5px;
}
.clear-both {
  clear: both;
}
form {
  font-size: 0.8em;
}
input {
  margin-top: 2px;
}
select {
  width: 300px;
  border: 2px solid #eee;
  border-radius: 4px;
  line-height: 2em;
  font-size: 1em;
}
label {
  width: 100px;
  display: inline-block;
}
ul {
  padding:0;
  margin:0;
}
#header {
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #999;
  height: 50px;
  background:#fff;
}
#header-user {
  float: right;
  font-size: 0.8em;
}
#header-user input {
  max-width: 100px;
}
#row-container {
  align-items: stretch;
}
.main-column {
  margin-top: 60px;
}
.edit-box {
  display: none;
}
.form-edit-entity-relations {
  margin: 0;
  display: inline-block;
}
#main-window {
  max-width:1000px;
  margin:0 auto 0 auto;
  background: #fff;
  padding: 20px;
  overflow: auto;
}
#main-window table {
  width:100%;
}
#main-window td {
  font-size:.8em;
  border:1px solid #aaa;
}
.entity-profile-img-container {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 0px 20px 10px 0px;
  border: 1px solid #999;
  text-align: center;
  float: left;
}
.entity-profile-img {
  max-height: 100px;
  max-width: 100px;
  margin: 0px auto 0px auto;
}
.entity-profile-img-small {
  max-height: 50px;
  max-width: 50px;
  margin: 0px auto 0px auto;
}
.entity-default-icon {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
}
#entity-relations-window {
  width:1000px;
  margin:0 auto 0 auto;
}
.inline-list li {
  display: block;
  float: left;
  width: 150px;
  height: 200px;
  margin: 0 20px 20px 0;
  border: 1px solid #aaa;
}
.list-image {
  max-width: 150px;
  max-height: 100px;
}
#menu-element {
  float:left;
  height:40px;
  padding:5px;
}
#search-element {
  float:left;
  width:300px;
  padding:5px;
  height:40px;
}
#search-results {
  background:#fff;
  padding:3px;
  clear:both;
}
#search-results ul {
  background:#fff;
  border:1px solid #999;
}
#search-results li {
  clear:both;
}
#search-results li a{
  text-decoration:none;
  color:#444;
  display:inline-block;
  width:100%;
  height:30px;
}
#search-results li a:hover, a:focus{
  background:#333;
  color:#fff;
}
.search-result-profile-pic {
  width:30px;
  height:30px;
  background:#000;
  text-align:center;
  margin-right:3px;
  float:left;
}
.search-result-profile-pic img {
  max-width:90%;
  max-height:90%;
}