<h1>Entités</h1>
        <form action="/entities/insertEntity" method="post">
            Nom <input type="text" name="name" />
            <br>Type <select name="entityTypeId">
                    <% for (var i=0; i<entityTypes.length; i++) { %>
                        <option value="<%-entityTypes[i].id %>"><%-entityTypes[i].name %></option>
                    <% } %>
            </select>
            <br>Image <input type="text" name="profilePicUrl" value=""/>
            <br><input type="submit" value="Créer" />
        </form>
        <ul>
        <% for (var i=0; i<entitiesItems.length; i++) { %>
            <li>
                <a href='/entities/<%-entitiesItems[i].id %>'><%-entitiesItems[i].name %></a>
            </li>
        <% } %>
        </ul>