<img class="entity-default-icon" src="<%-entityData.defaultimage %>" />
<h1><%-entityData.label %></h1>
<% if (entityData.profileimage) { %>
    <div class="entity-profile-img-container">
        <img class="entity-profile-img" src="<%-entityData.profileimage %>" />
    </div>
    <% } %>

<a href="/entities/edit/<%-entityData.id %>">éditer</a>