<% include ../partials/header %>

<div id="row-container">
    <div id="main-window">
        <h1>Réseau de <%-entityData.label %></h1> <a href="/entities/edit/<%-entityData.id %>">éditer</a>
        <div id="network-window"></div>
    </div>
</div>
<br class="clear-both" />
<script type="text/javascript">
    getAndDrawNetworkFromEntityId("<%-entityData.id %>","network-window");
</script>

<% include ../partials/footer %>