<% include ../partials/header %>
<% include ../partials/menu %>
  <div id="main-window"></div>
  <div id="editor-window"></div>
  <br class="clear-both" />

  <script type="text/javascript">
    getAndListEntities("editor-window");
  </script>
<% include ../partials/footer %>
