<% include ../partials/header %>

<div id="row-container">
    <h1>Réseau de <%-networkData.label %>&nbsp;<a href="<%-networkData.editUrl %>">✏️</a></h1> 
    <div id="network-window"></div>
</div>
<br class="clear-both" />
<script type="text/javascript">
    getAndDrawNetworkFromAPI("<%-networkData.apiUrl %>","network-window");
</script>

<% include ../partials/footer %>