<html>
<head>
<script type="text/javascript" src="/javascript/vis-network/vis-network.min.js"></script>
<style type="text/css">
    #mynetwork {
      width: 100%;
      height: 100%;
      border: 1px solid lightgray;
    }
  </style>
</head>
<body>

<div id="mynetwork"></div>

<script type="text/javascript">
    var nodeItems = <%-JSON.stringify(nodeItems)%>;
    var relationsItems = <%-JSON.stringify(relationItems)%>;

  // create node list from rows
  var nodes = new vis.DataSet(nodeItems);
  var edges = new vis.DataSet(relationsItems);

  // create a network
  var container = document.getElementById('mynetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {};
  var network = new vis.Network(container, data, options);
</script>


</body>
</html>
