<html>
<head>
<script>
</script>
<style type="text/css">
.edit-box {
    display:none;
}
</style>
</head>
<body>
    <h1>Relations</h1>

    <ul>
    <% for (var i=0; i<relationsItems.length; i++) { %>
        <li>
            <%-relationsItems[i].source_name %> | <%-relationsItems[i].destination_name %> | <%-relationsItems[i].name %>
        </li>
    <% } %>
    </ul>
</body>
</html>